*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/home/elnaggar/AndroidStudioProjects/LocationSaver/app/src/debug/res/values/google_maps_api.xml
/home/elnaggar/AndroidStudioProjects/LocationSaver/app/src/main/res/values/here_maps_api.xml